<div class="col-sm-10">
	<div class="panel panel-default">
		<div class="panel-heading">Список товаров</div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Id</th>
					<th>Название товара</th>
					<th>Производитель</th>
					<th>Упаковка</th>
					<th>Материал упаковки</th>
					<th>Объем</th>
				</tr>
			</thead>
			<tbody>
				{{#each code in model}}
				<tr class='tableLine'>
					<td></td>
					<td>{{code.id}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>