<!-- <div class="col-sm-10"> -->
<!-- 	<div class="panel panel-default">
		<div class="panel-heading">Список товаров</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Название товара</th>
						<th>Производитель</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each product in model}}
					<tr class='tableLine'>
						<td>{{product.title}}</td>
						<td>{{product.manufacturer}}</td>
						<td><img class='img' src={{product.image}}></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div> -->
<!-- </div> -->