<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">	
	<div class="panel panel-default">
  <div class="panel-heading">Log here</div>
  <div class="panel-body">
	<form class="form-vertical">		
    	<div class="form-group1">
    	<div class="col-sm-0">
   			{{input type="text" class="identification" value=identification placeholder="Login" required='required'}}
    	</div>
    	</div>

    	<div class="form-group">
    	<div class="col-sm-0 passField">
    	{{input type="password" class="password" value=password placeholder="Password" required='required'}}
    	</div>
		</div>
		<button type="submit" class="btn btn-default" {{action 'authenticate'}}>Log in</button>
	</form>

	</div>
	</div>
</div>
</div>
{{outlet}}